# Core dependencies
fastapi == 0.116.1
uvicorn == 0.35.0
pydantic == 2.11.7
pydantic-settings == 2.10.1
pydantic_core==2.33.2
rich == 14.0.0

# For testing
pytest == 8.4.2
httpx == 0.28.1
pytest-asyncio == 1.0.0
pytest-cov == 6.2.0

# For rate limiting
slowapi == 0.1.9
redis == 6.4.0

# For ai transformer model
annotated-types==0.7.0
anyio==4.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
distro==1.9.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
jiter==0.10.0
MarkupSafe==3.0.2
openai==1.98.0
requests==2.32.4
sniffio==1.3.1
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0

# For chatbot model
sentence-transformers == 5.1.0
numpy == 2.3.2
langchain == 0.3.25
langchain_community == 0.3.25
PyMySQL == 1.1.2
langchain_openai == 0.3.28
langchain_google_genai == 2.1.8

# aws or other infra libary
boto3 == 1.40.21
