# Core dependencies
fastapi == 0.116.1
uvicorn == 0.35.0
pydantic == 2.11.7
pydantic-settings == 2.10.1

# For testing
pytest == 8.4.2
httpx == 0.28.1
pytest-asyncio == 1.0.0
pytest-cov == 6.2.0

# For rate limiting
slowapi == 0.1.9
redis == 6.4.0

# For models
sentence-transformers == 5.1.0
numpy == 2.3.2
langchain == 0.3.25
langchain_community == 0.3.25
PyMySQL == 1.1.2