## Data Transformation Request

**Target Output Schema:**
```json
{{output_schema}}
```

**Source Input Data:**
```json
{{input_schema}}
```

**Task**: Generate a complete EJS template that transforms the input data to match the target schema exactly and upon render it should generate clean JSON.

**Required Template Features**:

- Input Data is in variable `input_data`
- Don't include comments, just the EJS template code.
- Don't include any additional text or explanations.
- Don't Assume the input data will be Array unless specified in the input schema.
- No value from json will be in EJS templates, no backslash (\\), forward Slash (/), new line(/n) will include in EJS templates.
- JSON data will very big so take time and complete the transformation without break.